<div id="home">
  <div id="page-heading">
    <h1>BugVision AI</h1>
    <h2>The new era in insects recognition</h2>
  </div>
  <div id="home-body">
    <div class="info-block">
      <div class="info-text">
        <h2>The Problem</h2>
        <p>Entomology, which studies insects that harm the cultivation of crops, is one of the main areas of agronomy.
          And that's quite rational, as the wrong definition of the type of pests in the area,
          as well as the choice of the wrong method of pest control or untimely application of crop protection cause
          a significant decline in yields and, consequently, a loss of farmers' profits.</p>
      </div>
      <img src="assets/img/home/ColoradoBeetle.jpg" alt="Colorado Beetle">
    </div>
    <div class="info-block-reverse">
      <div class="info-text">
        <h2>Dangerous Pesticides</h2>
        <p>Most pesticides successfully cope with the task of insect control. But at the same time farmers should know
          which type of pesticides use, on which crops and when to protect their field from specific insects.
          Most consumers want to buy vegetables and fruits that have been treated
          with a minimum amount of pesticides, which usually consist of a complex of chemically active substances,
          the effects on the body of which are often either unknown or dangerous in the long run.
          Many studies confirm the link between pesticide use and tumor formation in people who have consumed
          pesticide-treated products. A similar link has also been found between kidney cancer in children
          of farmers who have been in frequent contact with pesticides.</p>
      </div>
      <img src="assets/img/home/Pesticides.png" alt="Pesticides">
    </div>
    <div class="info-block">
      <div class="info-text">
        <h2>When Machine Helps</h2>
        <p>We come to the conclusion that in order to reduce the number of pesticides used per plantation,
          it is necessary to improve the quality of identification of insect pests that infect it.
          However, the classification of insects on plantations,
          with the aim of applying appropriate means of protection against each of them,
          as well as collecting statistics on the quantitative characteristics of crop damage by pests,
          is quite a challenge for humans, especially when different types of crops are grown on one plantation.
          It should be added that many species of insects migrate from one area to another,
          some of them are quite similar in appearance, which complicates the task
          of their correct classification by humans.
          That's where artificial intelligence technologies comes into play.</p>
      </div>
      <img src="assets/img/home/AI.jpg" alt="AI">
    </div>
    <div class="info-block-reverse">
      <div class="info-text">
        <h2>The Solution</h2>
        <p>BugVision is a software application based on convolutional neural networks technology which aim is to help
        farmers easily identify insects on their fields, as well as give an information about their amount during
        time periods. BugVision can be used as by one person (for example in research works) as be integrated with
        smart traps on fields.</p>
      </div>
      <img src="assets/img/home/Pesticides.png" alt="Pesticides">
    </div>
<!--    <div class="info-block">-->
<!--      <div class="info-text">-->
<!--        <h2>Header #5</h2>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore-->
<!--          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla-->
<!--          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id-->
<!--          est laborum.</p>-->
<!--      </div>-->
<!--      <img src="assets/img/home/Vegetables1.jpeg" alt="Vegetables">-->
<!--    </div>-->
  </div>
</div>
